In [12]:
import keras
from keras import backend as K
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
img_rows = img_cols = 28
batch_size = 500
num_classes = 10
epochs = 30

In [13]:
test_df = pd.read_csv('./data/test.csv')
train_df = pd.read_csv('./data/train.csv')

In [14]:
test_df.head()

,id,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
test_df.describe()

,id,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
count,5000.000000,5000.0,5000.0,5000.0,5000.0,5000.0,5000.0,5000.0,5000.0,5000.00000,...,5000.000000,5000.000000,5000.000000,5000.000000,5000.0,5000.0,5000.000000,5000.0,5000.0,5000.0
mean,2499.500000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.04780,...,0.191600,0.112600,0.109800,0.078000,0.0,0.0,0.039800,0.0,0.0,0.0
std,1443.520003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.37997,...,6.077753,4.859161,4.766832,4.080104,0.0,0.0,2.814285,0.0,0.0,0.0
min,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0
25%,1249.750000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0
50%,2499.500000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0
75%,3749.250000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.0
max,4999.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,239.00000,...,255.000000,255.000000,255.000000,255.000000,0.0,0.0,199.000000,0.0,0.0,0.0

In [16]:
train_df.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
standard_scaler = StandardScaler()

In [18]:
Y_train_df = train_df['label']
#Y_train_df = pd.get_dummies(Y_train_df)
# Y_train_df = Y_train_df.values.reshape(-1, 1)
# Y_train_df = standard_scaler.fit_transform(Y_train_df)
# Y_train_df = keras.utils.np_utils.to_categorical(Y_train_df)
#Y_train_df = Y_train_df.reshape(-1, 10, 1)
Y_train_df.shape
Y_train_df

0        0
1        1
2        2
3        3
4        4
        ..
59995    5
59996    6
59997    7
59998    8
59999    9
Name: label, Length: 60000, dtype: int64

In [19]:
X_train_df = train_df.drop(columns="label")
# X_train_df = standard_scaler.fit_transform(X_train_df)
# X_train_df = keras.utils.np_utils.to_categorical(X_train_df)
X_train_df.shape

(60000, 784)

In [20]:
np.random.seed(7)
# split into 67% for train and 33% for test
X_train, X_valid, y_train, y_valid = train_test_split(X_train_df, Y_train_df, test_size=0.15, random_state=7)

In [21]:
X_test = test_df.drop('id', axis = 1)
# X_test = standard_scaler.fit_transform(X_test)
y_test = test_df['id']
# y_test = keras.utils.np_utils.to_categorical(y_test)
y_test

0          0
1          1
2          2
3          3
4          4
        ...
4995    4995
4996    4996
4997    4997
4998    4998
4999    4999
Name: id, Length: 5000, dtype: int64

In [23]:
if K.image_data_format() == 'channels_first':
#    X_train = X_train.reshape(X_train.shape[0], 1, img_rows, img_cols)
    X_train = X_train.values.reshape(X_train.shape[0], 1, img_rows, img_cols)
    X_test = X_test.values.reshape(X_test.shape[0], 1, img_rows, img_cols)
    X_valid = X_valid.values.reshape(X_valid.shape[0], 1, img_rows, img_cols)
    input_shape = (1, img_rows, img_cols)
else:
    X_train = X_train.values.reshape(X_train.shape[0], img_rows, img_cols, 1)
    X_test = X_test.values.reshape(X_test.shape[0], img_rows, img_cols, 1)
    X_valid = X_valid.values.reshape(X_valid.shape[0], img_rows, img_cols, 1)
    input_shape = (img_rows, img_cols, 1)

In [24]:
X_train.shape

(51000, 28, 28, 1)

In [25]:
#y_train = np.reshape(y_train.values, ( y_train.shape[0], 1))

In [26]:
y_train

5163     3
40989    9
29725    5
53712    2
53621    1
        ..
53459    9
38467    7
10742    2
49689    9
58564    4
Name: label, Length: 51000, dtype: int64

In [27]:
def create_model(train_data, n_classes = 10):
    # create model
    model = keras.models.Sequential()
    model.add(keras.layers.Conv2D(32, kernel_size=(3,3), activation="relu", input_shape=input_shape))
    model.add(keras.layers.Conv2D(64, kernel_size=(3,3), activation="relu"))
    model.add(keras.layers.MaxPooling2D(pool_size=(2, 2)))
    model.add(keras.layers.Dropout(0.25))
    model.add(keras.layers.Flatten())
    model.add(keras.layers.Dense(n_classes, activation="softmax"))
    # Compile model
    model.compile(optimizer ='sgd', loss = 'sparse_categorical_crossentropy')
    return model

In [28]:
model = create_model(X_train_df)

WARNING: Logging before flag parsing goes to stderr.
W1027 17:23:23.474563 17608 deprecation_wrapper.py:119] From C:\Users\user\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

W1027 17:23:23.498550 17608 deprecation_wrapper.py:119] From C:\Users\user\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

W1027 17:23:23.502546 17608 deprecation_wrapper.py:119] From C:\Users\user\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

W1027 17:23:23.549518 17608 deprecation_wrapper.py:119] From C:\Users\user\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:3976: The name tf.nn.max_pool is deprecated. Please use tf.nn.max_pool2d instead.

W1027 17:23:23.553514 17608 deprecation_wrapper.py:119] From C:\Users\user\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:133: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

W1027 17:23:23.566507 17608 deprecation.py:506] From C:\Users\user\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
W1027 17:23:23.619474 17608 deprecation_wrapper.py:119] From C:\Users\user\Anaconda3\lib\site-packages\keras\optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

W1027 17:23:23.646456 17608 deprecation_wrapper.py:119] From C:\Users\user\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:3341: The name tf.log is deprecated. Please use tf.math.log instead.

In [ ]:
history = model.fit(X_train, y_train, validation_data=(X_valid, y_valid), epochs=epochs, batch_size=batch_size)

W1027 17:23:26.128664 17608 deprecation.py:323] From C:\Users\user\Anaconda3\lib\site-packages\tensorflow\python\ops\math_grad.py:1250: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

Train on 51000 samples, validate on 9000 samples
Epoch 1/30
51000/51000 [==============================] - 178s 3ms/step - loss: 11.4961 - val_loss: 11.2567
Epoch 2/30
51000/51000 [==============================] - 249s 5ms/step - loss: 9.9485 - val_loss: 8.0885
Epoch 3/30
51000/51000 [==============================] - 369s 7ms/step - loss: 4.6392 - val_loss: 0.1147
Epoch 4/30
 5500/51000 [==>...........................] - ETA: 5:03 - loss: 0.1232

In [ ]:
X_test_df = test_df
answer = model.predict(X_test)

In [ ]:
answer = answer.astype(int)
answer

In [ ]:
y = np.argmax(answer, axis=-1)
y

In [ ]:
frames_aswer = pd.DataFrame({"ImageId": pd.DataFrame(y).index.values+1,
                             "Label": y
                            })
frames_aswer

In [ ]:
frames_aswer.to_csv('submission.csv', index=False)